@using Proyecto_Aerolinea.Web.Data.Entities
@inject Proyecto_Aerolinea.Web.Services.Abstract.IUserService _userService

@{
	User? user;

	try
	{
		user = await _userService.GetUserByEmailAsync(User.Identity.Name);
	}
	catch
	{
		user = null;
	}
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
	@await Html.PartialAsync("_Styles")
</head>
<body>
	@await Html.PartialAsync("_Sidebar")
    <main id="main" class="main mt-4 justify-content-center d-grid">
		@RenderBody()
    </main>
	@await Html.PartialAsync("_Scripts")
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
