@model FlightDTO

<div class="page-title dark-background aos-init aos-animate" data-aos="fade" style="background-image: url(assets/img/travel/showcase-8.webp);">
    <div class="container position-relative">
        <h1>Nuevo Vuelo</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-action="Available">Tours</a></li>
                <li class="current">Create</li>
            </ol>
        </nav>
    </div>
</div>

<div class="card mt-3">

    <div class="card-header">
        <h2 class="m-0 font-weight-bold text-primary">Vuelo</h2>
    </div>

    <div class="card-body">
        <h4 class="card-title text-primary">Crear Vuelo</h4>

        <form asp-action="Create" method="post" class="row g-3">
            <div class="col-md-12">
                <div class="form-floating">
                    <input asp-for="FlightCode" class="form-control" placeholder="@Html.DisplayFor(dto => dto.FlightCode)">
                    <label asp-for="FlightCode">Codigo de Vuelo</label>
                    <span asp-validation-for="FlightCode" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-floating">
                    <input asp-for="DepartureDateTime" class="form-control" placeholder="@Html.DisplayFor(dto => dto.DepartureDateTime)">
                    <label asp-for="DepartureDateTime">Fecha de Salida</label>
                    <span asp-validation-for="DepartureDateTime" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input asp-for="ArrivalDateTime" class="form-control" placeholder="@Html.DisplayFor(dto => dto.ArrivalDateTime)">
                    <label asp-for="ArrivalDateTime">Fecha de Llegada</label>
                    <span class="text-danger" asp-validation-for="ArrivalDateTime"></span>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-floating">
                    <input asp-for="Status" class="form-control" placeholder="@Html.DisplayFor(dto => dto.Status)">
                    <label asp-for="Status"></label>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
            </div>

            <div class="row g-3">
                <div class="col-md-6">
                    <div class="form-floating">
                        <select asp-for="OriginAirportId" class="form-control" asp-items="ViewBag.Airport">
                            <option value="">Seleccione un aeropuerto</option>
                        </select>
                        <label asp-for="OriginAirportId">Aeropuerto Origen</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating">
                        <select asp-for="DestinationAirportId" class="form-control" asp-items="ViewBag.Airport">
                            <option value="">Seleccionar Aeropuerto</option>
                        </select>
                        <label asp-for="DestinationAirportId">Aeropuerto Destino</label>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-floating">
                    <select asp-for="AircraftId" class="form-control" asp-items="ViewBag.Aircraft">
                        <option value="">Seleccionar avion de abordaje</option>
                    </select>
                    <label asp-for="AircraftId">Avion de Abordaje</label>
                </div>
            </div>

            <div>
                <button class="btn btn-primary" type="submit">Guardar</button>
                <a asp-action="Available" class="btn btn-secondary">Regresar</a>
            </div>
        </form>
    </div>

</div>
@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}